<h1>prueba de manejo de controladores</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quam ipsa, obcaecati voluptatem odit illo! Modi ab porro ipsa totam facere officia consectetur, perspiciatis sapiente. Esse vitae sed aliquam deleniti.
</p>
<p>Welcome to {{title}}</p>
