<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <Nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/nosotros">nosotros</a></li>
      <li><a href="/servicio">servicio</a></li>
      <li><a href="/contacto">contacto</a></li>
    </ul>
  </Nav>
  {{{body}}}
</body>

</html>