<head>
    <style>
         text-blue   {
            color: green;
         }
    </style>
</head>

<h1>Mas acerca de nosotros</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam rem eum delectus distinctio, enim maiores. Aliquid inventore iste, corporis molestias quas, facilis distinctio enim in asperiores nam alias repellat aperiam?

</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptate laborum similique ratione ad laudantium, deserunt ipsam tempore impedit vel voluptas nisi nulla. Ut, aliquid explicabo voluptates non numquam aperiam!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus consequuntur enim non officiis obcaecati placeat similique animi saepe asperiores nobis exercitationem et quo commodi dolores eos, accusantium debitis rerum aspernatur!

</p>
<li>
   Nuestra historia

</li>